*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
.LOGO{
  position: absolute;
  height: 100px;
  left: 0px;
  width: 100px;
}
body{
  font-family: sans-serif;
}
nav{
  background:black;
  padding: 13px 20px;
}
ul{
  list-style-type:none;
}
a{
  color:white;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}

.menu li{
font-size:16px;
padding:15px 5px;
}
.menu li a{
  display:block
}
.button.secondary{
  border-bottom:5px #999 solid;
}


/* mobile menu*/
.menu{
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-end;
  align-items:center;
}
.toggle{
  order:1;
}
.item.button{
  order:2;
}
.item{
  width:100%;
  text-align:center;
  order:3;
  display:none;
}
.item.active{
  display: block;
}


.toggle{
cursor:pointer;
}

.bars{
  background: #999;
  display: inline-block;
  height:2px;
  position: relative;
  width: 18px;
}

.bars::before,.bars::after{
  background: #999;
  content:"";
  display: inline-block;
  height:2px;
  position: absolute;
  width: 18px;
}

.bars::before{
  top: 5px;
}
.bars::after{
  top:-5px;
}

/*tablet menu*/

@media all and (min-width:468px){
  .menu{
      justify-content: flex-end;
  }
  .logo{
      flex:1;
  }
  .item.button{
      width:auto;
      order:1;
      display:block;
  }

  .toggle{
      order:2;
  }
  .button.secondary{
      border:0;
  }
  .button a{
      text-decoration:none;
      padding:7px 15px;
      background: teal;
      border:1px solid #006d6d;
      border-radius:50em;
  }
  .button.secondary a{
      background: transparent;
  }
  .button a:hover{
      transition:all .25s;
  }
  .button:not(.secondary) a:hover{
      background: #006d6d;
      border-color:#005959;
  }
  .button.secondary a:hover{
      color:#ddd;
  }
}

@media all and (min-width:768px){
  .item{
      display:block;
      width:auto;
  }
  .toggle{
      display:none;
  }
  .logo{
      order:0;
  }
  .item{
      order:1;
  }
  .button{
      order:2;
  }
  
  .menu li{
      padding:15px 10px;
  }
  .menu li.button{
      padding-right:0;
  }
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .dropdown {
    display: none;
  }
}
.user-pic{
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 15px;
}
.user-info h2 {
  color: white;
}

.item.button.primary {
  display: none;
}

.item.hero {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.item.hero img {
  margin-right: 0;
  margin-left: 15px;
}
.sub-menu-wrap {
  position: absolute;
  top: 90px;
  right: 10%;
  width: 320px;
  max-height: 0%;
  overflow: hidden;
  transition: max-height 0.5s;
  }

  
  .sub-menu-wrap.open-menu {
  max-height: 400px;
  }
  
  .sub-menu {
  background: black;
  padding: 20px;
  margin: 10px;
  }
  .sub-menu img {
    border: 2px solid black;
    border-radius: 50%;
  }
  .menu-item img {
    vertical-align: middle;
  }
  
  .user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  }
  
  .user-info h3 {
   font-weight: 500;
  }
  
  .user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
  }
  
  .sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
  }
  
  .sub-menu-link {
    display: block;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: white;
    margin: 8px 0;
  }
  .sub-menu-link p {
    margin-left: 50px;
    margin-top: -30px;
  }

  .sub-menu-link img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 250px;
    border: 2px solid white;
  }

  .sub-menu ul li img {
    vertical-align: middle;
    margin-right: 0px;
  }
  
  
.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.5s;
}
.sub-menu-link:hover span{
  transform: translateX(5px);
} 
.sub-menu-link:hover p{
  font-weight: 600;
}
